
header a:link{
  color:black;
}
header a:visited{
  color:black;
}

.container{
  width:100%;
}

header{
  height: 100px;
  width:100%;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  line-height:70px;
  position:fixed;
  top:0px;
  z-index: 10;
  width:100%;
}

.title{
  float:left;
}

.title{
  line-height: 70px
}

.header-right{
  float:right;
  line-height: 180px;
  margin-right:30px;
}

.header-menu{
  float:left;
  display: inline-block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height:10px;
  padding-right:20px;
}

.introduction_wrapper{
  background-image:url(img/top_image.jpg);
  background-size: cover;
  width:100%;
  height: 700px;
  margin-top:100px;
  padding-top:50px;
}

.menu{
  margin-left:100px;
  text-align: center;
  color:white;
}

.menu-list{
  width:25%;
  height: 300px;
  line-height: 400px;
  float: left;
  margin: 20px;
  color:white;
}

.menu a{
  display:inline-block;
  font-size:20px;
  color:white;
}

.about_wrapper{
  height:600px;
  width:100%;
}

.about_wrapper h1{
  padding-top:100px;
  text-align: center;
}

.aboutList{
  width:80%;
  margin-left:300px;
  margin-top:20px
}

.aboutList li{
  margin-top:10px;
}

.contentsList{
  list-style: none;
}

.contentsList_Detail{
  list-style: none;
  display: none;
}

.about-text{
  margin-top:50px;
  text-align: center;
}

.bookList_wrapper{
  padding-top:100px;
  background-color:#f4f4f4;
  height:600px;

}

.bookList_wrapper h1{
  text-align: center;
}

.bookList-contents{
  width:80%;
  margin-left:300px;
}

.bookList_wrapper ul{
  list-style: none;
}

.who_wrapper{
  height: 800px;
  padding-top:70px;
}

.who_wrapper h1{
  text-align: center;
}

.who-contents{
  margin-left: 300px;
}
